<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand-me" ng-click="reload()">Camp
        <span class="logo-color-header">Vote</span>
      </a>
    </div>
    <div class="navbar-collapse collapse" collapse="isCollapsed" id="navbar-main">
      <ul class="nav navbar-nav"></ul>

      <ul class="nav navbar-nav navbar-right">

        <li ng-hide="isLoggedIn()">
          <button class="menu-button" name="button" ng-click="go('/signup')" type="button">Register</button>
        </li>

        <li ng-hide="isLoggedIn()">
          <button class="menu-button" name="button" ng-click="go('/login')" type="button">Login</button>
        </li>

        <li ng-show="isLoggedIn()">
          <p class="navbar-text">Hello,
            {{ getCurrentUser().name }}!</p>
        </li>

        <li ng-show="isAdmin()">
          <button class="menu-button" name="button" ng-click="go('/admin-panel')" type="button">Admin</button>
        </li>

        <li ng-show="isLoggedIn()">
          <button class="menu-button" name="button" ng-click="go(myPolls())" type="button">My Polls</button>
        </li>

        <li ng-show="isLoggedIn()">
          <button class="menu-button" name="button" ng-click="go('/settings')" type="button">Settings</button>
        </li>
        <li ng-show="isLoggedIn()">
          <button class="menu-button" name="button" ng-click="logout()" type="button">Logout</button>
        </li>

      </ul>
    </div>
  </div>
</div>