<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <div ng-hide="showPoll">
      <h1>Create a Poll</h1>

      <p class="lead">Create a quick and resposive poll to easily share!</p>
      <button class="site-button" ng-click="showPoll = true" type="submit">Make one now!</button>
    </div>

    <div ng-show="showPollDone">
      <h1>This is your poll!</h1>

    </div>
    <input class="main-input-box" ng-model="pollQuestion" ng-show="showPoll && !finishPoll" placeholder="Question Here" required>
  </div>

</header>
<form>

  <div class="options-contain sample-show-hide" ng-show="showPoll && !finishPoll">

    <div class="option-choice" ng-repeat="pollOption in pollOptions track by $index">
      <input class="option-input-box ease-in" ng-model="pollOption.name" placeholder="Enter Option">
      <img class="close-btn ease-in" ng-click="removeOption($index)" src="assets/images/delete30.png"/>
    </div>

    <button class="option-button" ng-click="addOption()">New Option</button>
    <button class="option-button" ng-click="addPoll()" type="submit">Create Poll</button>

  </div>

</form>

<footer class="footer">
  <div class="container">
    <p>
      <a href="http://www.freecodecamp.com/">FreeCodeCamp</a>
      |
      <a href="https://twitter.com/_BrandonPadilla">@BrandonPadilla</a>
      |
      <a href="https://github.com/Agnostics/Voting-App">@Github</a>
    </p>
  </div>
</footer>